.contact-banner {
	position: relative;
	color: white;
	background-size: cover;
	background-postion: center;
	h4 {
		font-size: 23px;
		padding-bottom: 40px;
	}
	p {
		font-weight: lighter;
	}
}
.contact-content {
	display: flex;
	justify-content: center;
	align-content: space-between;
}
.contact-left-column {
	width: 500px;
	height: 225px;
	background: rgba(255,255,255,0.1);
	margin: 0 40px 20px 0;
	padding: 20px;
}
.contact-right-column {
	width: 500px;
	height: 600px;
	background: rgba(255,255,255,0.1);
	margin-left: 40px;
	padding: 20px;
}

// tablet/mobile only
 @media only screen and (max-width:1000px){
	.contact-content {
		flex-wrap: wrap;
	}
	.contact-left-column {
		margin-bottom:20px;
		margin-right: 0px;
		margin-left: 0px;
	}
	.contact-right-column {
		margin-left: 0px;
		margin-right: 0px;
	} 
	.section-padding {
		padding: 20px;
	}
}

