.our-story-title {
	padding: 75px 0 40px 0;
}
.our-story-image img {
	width: 100%;
}
.our-story-aside {
	padding-bottom: 40px;
}
.our-story-section {
	display: flex;
	align-content: center;
	padding-bottom: 10px;
}
.our-story-text {
	p {
		color: #888888;
		margin-top: 0px;
	}
	h4 {
		margin-top: 0px;
	}
}
.our-story-icon {
	margin: 0 15px;
	color: #FE3562;
	opacity: 0.8;
	padding-right: 10px;
}
// mobile only
@media only screen and (max-width:723px){
  	.our-story-title {
		padding: 60px 0 40px 0;
	}
	.our-story-section {
	   padding-right: 10px;
	}
}
