.our-services-banner {
  color: white;
  height: 100vh;
  background-size: cover !important;
  color: white;
  p {
    font-weight: lighter;
  }
}
#more-info {
	color: #8FF0E8;
	text-decoration: none;
}
#more-info:hover {
	opacity: 0.5;
}