.our-services-banner {
  color: white;
  background-size: cover !important; 
  background-position: center; 
  padding-bottom: 80px;
  p {
    font-weight: lighter;
  }
  h3 {
    padding-top: 35px;
  }
}
.our-services-icon {
  padding-top: 12px;
  text-align: right;
  color: #8FF0E8;
}
.larger-icon {
  padding-top: 8px;
  font-size: 20px;
}
#more-info {
	color: #8FF0E8;
	text-decoration: none;
}
#more-info:hover {
  color: #FE3662;
}
// mobile only
@media only screen and (max-width:770px){
  .services-mobile-padding {
    padding: 10px 10px;
  }
  .our-services-banner { 
    padding: 30px 40px 40px 50px; 
  }
  .our-services-icon {
    padding-top: 20px;
  }
  .icon-padding {
    padding-top: 12px;
  }
}
// desktop only
@media only screen and (min-width:770px){
  .services-row {
    padding-right: 60px;
  }
}