.wrapper-press {
	height: 300px;
	margin-bottom: 10px;
}
.press-arrow-left {
	position: absolute;
	left: 60px;
	top: 50%;
}
.press-arrow-right {
	position: absolute;
	right: 60px;
	top: 50%;	
}
.partners-title {
	padding: 50px 0 5px 0;
}
.press-title {
	padding: 50px 0 25px 0;
}
.press-section {
	position: relative;
	padding: 0 100px 50px;
}