<!-- Homepage banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
	<div class="banner-content">
    <h1>Bea & Co</h1>
    <p>Creative Sitters and Chaperones</p>
  </div>
</div>

<!-- First section - Personally Recommended-->
<div class="container section-padding text-center">
	<h3>PERSONALLY RECOMMENDED</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur repellat debitis vitae sunt magni aut ea repellendus rem, maiores modi, inventore nisi optio, nam! Similique hic ea dignissimos nam voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga qui libero ut porro ipsam, suscipit ad vel! Molestias soluta deserunt odit blanditiis tenetur dolorem maiores distinctio mollitia, eligendi, maxime expedita.</p>
</div>

<!-- Interval image -->
<div class="image-interval" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
</div>

<!-- Second section - Our Story -->
<div class="container section-padding text-center">
	<h3 class= "our-story-title">OUR STORY</h3>
	<div class="row">
		<div class="col-xs-6">
			<div class="our-story-image">
				<p>our-story-image</p>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="our-story-aside">
				<div class="our-story-icons">
				<p><i class="fa fa-user"></i></p>
				</div>
				<div class="our-story-text">
					<h4>Born in 2013</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur repellat debitis vitae sunt magni aut ea repellendus rem, maiores modi, inventore nisi optio, nam! Similique hic ea dignissimos nam voluptatibus.</p>
				</div>
			</div>
			<div class="our-story-aside">
				<div class="our-story-icons">
				<p><i class="fa fa-user"></i></p>
				</div>
				<div class="our-story-text">
					<h4>Growing up</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur repellat debitis vitae sunt magni aut ea repellendus rem, maiores modi, inventore nisi optio, nam! Similique hic ea dignissimos nam voluptatibus.</p>
				</div>
			</div>	
			<div class="our-story-aside">
				<div class="our-story-icons">
				<p><i class="fa fa-user"></i></p>
				</div>
				<div class="our-story-text">
					<h4>Today</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur repellat debitis vitae sunt magni aut ea repellendus rem, maiores modi, inventore nisi optio, nam! Similique hic ea dignissimos nam voluptatibus.</p>
				</div>
			</div>		
		</div>
	</div>
</div>

<!-- Third section - Our Services -->
<div class="our-services-banner text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
    <div class="section-padding">
    	<h3>OUR SERVICES</h3>
	    <div class="row">
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<h4>Sitting</h4>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim officiis quibusdam magni veritatis harum laborum. Saepe quaerat exercitationem eius corporis aut, voluptates labore, ad, maxime illo laudantium accusamus, explicabo!</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<h4>Theatre, Film & TV Chaperoning</h4>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim officiis quibusdam magni veritatis harum laborum. Saepe quaerat exercitationem eius corporis aut, voluptates labore, ad, maxime illo laudantium accusamus, explicabo!</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<h4>For Business</h4>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim officiis quibusdam magni veritatis harum laborum. Saepe quaerat exercitationem eius corporis aut, voluptates labore, ad, maxime illo laudantium accusamus, explicabo!</p>
	    	</div>
    	</div>
	    <div class="row">
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<h4>Hotels</h4>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim officiis quibusdam magni veritatis harum laborum. Saepe quaerat exercitationem eius corporis aut, voluptates labore, ad, maxime illo laudantium accusamus, explicabo!</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<h4>International</h4>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim officiis quibusdam magni veritatis harum laborum. Saepe quaerat exercitationem eius corporis aut, voluptates labore, ad, maxime illo laudantium accusamus, explicabo!</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-6 col-md-4">
	    		<h4>Events</h4>
	    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim officiis quibusdam magni veritatis harum laborum. Saepe quaerat exercitationem eius corporis aut, voluptates labore, ad, maxime illo laudantium accusamus, explicabo!</p>
    		</div>
    	</div>
    </div>
</div>

<!-- Fourth section - Our Team -->
<div class="container section-padding text-center">
		<h3>OUR TEAM</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur repellat debitis vitae sunt magni aut ea repellendus rem, maiores modi, inventore nisi optio, nam! Similique hic ea dignissimos nam voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga qui libero ut porro ipsam, suscipit ad vel!</p>
</div>

<!-- Fifth section - Happy People -->
<div class="wrapper-grey">	
	<div class="container section-padding text-center">
		<h3>HAPPY PEOPLE</h3>
		<p>See what our members say about us</p>
		<div class="testimonials">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h4>Sarah</h4>
					<p>Part of the family since June 2014</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa asperiores, dolor? Eius nisi reprehenderit, impedit sequi accusantium iusto molestias blanditiis molestiae tempore ea commodi, repellendus aperiam debitis. Odio, unde, repudiandae.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Sarah</h4>
					<p>Part of the family since June 2014</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa asperiores, dolor? Eius nisi reprehenderit, impedit sequi accusantium iusto molestias blanditiis molestiae tempore ea commodi, repellendus aperiam debitis. Odio, unde, repudiandae.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sixth section - Partner logos -->
<div class="container section-padding text-center">
	<h3>OUR PARTNERS</h3>
	<p>Insert logos</p>	
</div>
	
<!-- Contact -->
<div class="section-padding contact-banner text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
	<div class="contact-content">
		<div class="row">
			<h3>CONTACT US</h3>
			<div class="col-xs-12 col-md-6">
				<h3>Contact us direct</h3>
				<p>+44(0) 20 3488 1184</p>
				<p>hello@beaandco.com</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<h3>Send us a message</h3>
			</div>
		</div>
	</div>
</div>


