.footer {
	p {
		margin-top: 10px;
	}
	a {
		color: #888888;
	}
	a:hover {
	color: #8FF0E8;
	text-decoration: none;
	}
}
.footer-main {
	padding-bottom: 40px;
	p {
		font-weight: lighter;
		font-size: 14px;
		text-decoration: none;
		color: #888888;
	}
	i {
		color: #888888;
		font-size: 15px;
		border: 1px solid #888888;
		margin: 5px 5px 0 5px;
		padding: 5px;
	}
	i:hover {
		color: #8FF0E8;
		border: 1px solid #8FF0E8;
	}
}
.arrow-up {
	position: relative;
	top: -30px;
}
.arrow-up a {
	color: black;
	background: white;
	border-radius: 4px 4px 0 0;
	padding: 5px 10px;
	font-size: 25px;
	font-weight: lighter;
}
.arrow-up a:hover {
	color: #8FF0E8;
}