.footer {
	position: relative;
}

.footer-main {
	padding: 40px 0;
	p {
		font-weight: lighter;
		font-size: 14px;
		text-decoration: none;
		color: #888888;
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
	}
	i {
		color: #888888;
		font-size: 15px;
		border: 1px solid #888888;
		margin: 5px 5px 0 5px;
		padding: 5px;
	}
	i:hover {
		color: #8FF0E8;
		border: 1px solid #8FF0E8;
	}
}
.login-link {
	color: #8FF0E8;
	padding-top: 30px;
	text-decoration: none;
	position: absolute;
	top: 10px;
	right: 80px;
	font-weight: lighter;
}
.login-link:hover {
	color: pink;
	text-decoration: none;
}