.footer {
	position: relative;
}
.arrow-up {
	display: flex;
	justify-content: space-around;
}
.fa-angle-double-up {
	position: absolute;
	top: -32px;
	color: black;
	background: white;
	border-radius: 4px 4px 0 0;
	padding: 5px 10px;
	font-size: 25px;
	font-weight: lighter;
}
.fa-angle-double-up:hover {
	color: #8FF0E8;
}
.footer-main {
	padding: 40px 0;
	p {
		font-weight: lighter;
		font-size: 14px;
		text-decoration: none;
		color: #888888;
	}
	i {
		color: #888888;
		font-size: 15px;
		border: 1px solid #888888;
		margin: 5px 5px 0 5px;
		padding: 5px;
	}
	i:hover {
		color: #8FF0E8;
		border: 1px solid #8FF0E8;
	}
}