.navbar-beaco-pink {
  display: flex;
  height: 70px;
  padding: 0px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  opacity: 0.8;
  box-shadow: 1px 1px 1px #D9D9D9;
  a:hover {
    color: #FB3965;
    text-decoration: none;
  }
}
.navbar-beaco-link-pink {
  color: #565656;
  font-size: 14px;
  font-weight: lighter;
  padding: 0 10px;
  letter-spacing: 2px;
  line-height: 0.5px;
  a:hover {
    color: #FB3965;
    text-decoration: none;
  }
}
@media only screen and (max-width:1200px){
  .navbar-beaco-pink {
    opacity: 1;
  }
}