.banner {
  background-image: url('http://res.cloudinary.com/ddota4fci/image/upload/v1474633371/Children_Pirate_image_hbeob3.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  position: relative;
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    color: white;
  }
}
@media only screen and (min-width:769px){
.banner-content {
  position: absolute;
  top: calc(100vh - 65%);
  right: calc(100vw - 80%);
}
.main-logo {
    width: 250px;
    margin-bottom: 20px;
  }
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
   .banner {
    p {
      font-size: 20px;
    }
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-logo {
    width: 200px;
    margin-bottom: 20px;
    padding-top: 360px;
  }
}

// Galaxy/Nexus - landscape 600 - 766
@media only screen and (min-width: 600px) and (max-width:766px){ 
  .main-logo {
    padding-top: 130px;
    margin-bottom: 20px;
    width: 180px;
  }
  .banner {
    p {
      font-size: 16px;
    }
  }
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (min-width: 500px) and (max-width:600px){ 
  .main-logo {
    padding-top: 80px;
    margin-bottom: 20px;
    width: 170px;
  }
  .banner {
    p {
      font-size: 16px;
    }
  }
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (min-width: 360px) and (max-width:500px){ 
  .main-logo {
    padding-top: 240px;
    margin-bottom: 20px;
    width: 180px;
  }
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
  .main-logo {
    padding-top: 180px;
    margin-bottom: 20px;
    width: 150px;
  }
}