.beaco-button-blue {
	color: white;
	background-color: #8FF0E8;
	border-color: #8FF0E8;
	text-decoration: none;
	position: absolute;
	top: 5px;
	right: 70px;
	font-weight: lighter;
	margin-top: 40px;
}
.beaco-button-blue:hover {
	background-color: #FE3562;
	border-color: #FE3562;
	text-decoration: none;
}
.beaco-button-pink {
	color: white;
	background-color: #FE3562;
	border-color: #FE3562;
	text-decoration: none;
	font-weight: lighter;
	margin-bottom: 20px;
	a {
		color: white;
	}
}
.beaco-button-pink:hover {
	color: white;
	background-color: #FE3562;
	border-color: #FE3562;
	text-decoration: none;
	font-weight: lighter;
}
