abbr[title="required"] {
  display: none;
}
.contact-form-home {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 450px;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.contact-input {
  width: 460px;
  display: block;
  border: 1px solid #999;
  height: 35px;
  font-weight: lighter;
  opacity: 0.6;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
textarea#contact-message {
  width: 460px;
  height: 150px;
  display: block;
  opacity: 0.6;
  font-weight: lighter;
}
.contact-right-column {
  label {
    margin: 0 0 20px 0;
      span {
      font-weight: lighter;
    }
  }
}
.contact-message {
  font-weight: lighter;
  opacity: 0.6;
}
// mobile only
@media only screen and (max-width:700px){
  .contact-input {
    width: 375px;
  }
  textarea#contact-message {
    width: 375px;
  }
}


